/* Carousel.module.css */


.arrow {
  background: #b1d5d5;
  border: 1px solid #b1d5d5;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  color: #3d8584;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carouselImages {
    display: flex;
    position: absolute;
    top: 310px;
    width: calc(100vw - 30px);
    padding: 0 2px;
    border-radius: 20px;
    align-items: center;
  }

  .carouselImage {
    height: calc(100vh - 340px);
    width: calc(100vw - 20px);
    border-radius: 20px;
  }

.carouselContainer {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  
  .carouselContainer button {
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    font-size: 16px;
    background-color: #f2f2f2; /* example background color */
    border: none;
    cursor: pointer;
  }
  
  .carouselContainer button:hover {
    background-color: #e3e3e3; /* example hover background color */
  }
  